.main__message
  .main__message__box
    .main__message__box__top
      .main__message__box__top__name
        erikido
      .main__message__box__top__time
        2018/12/4 12:20:07
    .main__message__box__text
      こんにちは〜

    