@import "./reset";
@import "font-awesome";

// .news {
// 	background-color: #38AEF0;
// 	color: #ffffff;
// 	text-align: center;
// }

/* ==========================================================================
   Layout
   ========================================================================== */

@mixin font-size($size) {
  font-size: $size + px;
}

:root {
  --main-gutter: 20px;
  --top-padding: padding-top: 35px;
}


.chat {
	display: flex;
	height: 100vh;
}




@import "./_side";
@import "./_main";
